
:host {
  display:block;
  background: #fff;
  position: absolute;
  top:0;
  right: 0px;
  width: auto;
  height: auto;
  border-radius: 8px;
  padding: 10px;
  animation: custom-dialog-enter 1s ease;
  }
  
  @keyframes custom-dialog-enter {
    from {
      transform: scale(0) rotate(180deg);
    }
  
    to {
      transform: none;
    }
  }

img{
  width:200px;
  height: 200px;
}