<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="dialogRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    
    <ng-container  *ngFor="let p of data.produit; let i = index">
      
      <div class="row m-3">
               <div class="col-md-4"><img src="{{p.photo}}" alt="..."></div> 
               <div class="col-md-8"> 
                <h3>{{p.name}} - {{p.prix}} Dhs</h3>
                <p>{{p.description}}</p> 
              
                <p>Allergène: {{p.allergene}}</p>
                <p><a (click)="search(p)">
                    <button class="btn btn-warning btn-lg">Voir Produit</button>
                  </a>
              </p>
            </div>
      
          </div>     
    </ng-container>


  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dialogRef.close()" >
      Close
    </button>
   <!-- <button type="button" class="btn btn-primary">Save changes</button>-->
  </div>