@media (min-width:1000px){
.container_carousel{
  background-color: #fff;
  display:grid;
  grid-auto-flow: column;
  align-items:center;
  justify-content:space-around;
  width: 80rem;
  height: 33rem;
  margin:20px auto;  
  padding: 10px;

 .carousel{
  width: 55rem;
 }
  
}
}
