@media (min-width:1000px){
.container_carousel{
  background-color: #fff;
  display:grid;
  grid-auto-flow: column;
  align-items:center;
  justify-content:space-around;
  width: 80rem;
  height: 33rem;
  margin:20px auto;  
  padding: 10px;

 .carousel{
  width: 55rem;
 }
.div1{
  padding: 4rem;
  border: 1px solid rgba(128, 128, 128, 0.13);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.034);
}
}
}
