<div class="container_carousel">

  
  <div class="div1">
    <h6>MENU</h6> 
    <hr>

    <mat-selection-list #shoes  [multiple]="false">
      <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe" (click)="getlink(shoes._value)">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>
    
  </div>




  <div class="carousel" >


    <app-carousels [images] = carousel
    [autoSlide]="true" [slideInterval]=9000 [indicators]="false"
    ></app-carousels>




    </div>




</div>