<div class="container_carousel">

  
  <div class="div1">
    <h6>MENU</h6> 
    <hr>

    <mat-selection-list #categorie_list  [multiple]="false">
      <mat-list-option *ngFor="let categorie of Categories" [value]="categorie" (click)="getlink(categorie_list._value)">
        {{categorie}}
      </mat-list-option>
    </mat-selection-list>
    
  </div>




  <div class="carousel" >


    <app-carousels [images] = carousel
    [autoSlide]="true" [slideInterval]=9000 [indicators]="false"
    ></app-carousels>




    </div>




</div>