/*.form{
   background-color: azure;
  // border: 1px solid black;
   width: 100%;
   height: 400px;
   margin:20px auto;
   display: grid;
   grid-template-columns: auto auto;

   
   .inscrire{
    padding: 80px;
    font-size: 30px;
    background-color: #fff;
    font-weight: bold;
   }

   img{
    width:550px;
    height: 400px;
    opacity: 0,3%;
    padding: 5px;
    border-radius: 5px;
   }
}

*/

.produit_container{
   margin-top: 20px;
   margin-bottom: 20px;


  @media (min-width:400px){
  .container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    padding: 10px ;
    
    img{
        height:200px;
        align-self: center;
        border-radius: 10%;
        padding: 10px;
    }
  }
}
@media (min-width:750px){
  .container{
    grid-template-columns: repeat(3, 1fr);
  
  }
}
@media (min-width:900px){
  .container{
    grid-template-columns: repeat(5, 1fr); 
   
  }
}

}

.produit_annexe{
    background-color: #fff;   
    height: 10rem;
    
   
}