
.bcontainer{
    width: 85%;
    margin: auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    gap: 10px;
    width: 100%;
  
   
    
}

.titre{
    margin-top: 20px;
    margin-bottom: 15px;
    color: rgb(61, 61, 61);
}
img{
    width:auto;
    height: 30vh;
    padding:5px;
    border-radius: 10%;
}
.card-text-prix{
    font-size: large;
    font-weight: bold;
    color:blue;
}