
<app-carousel></app-carousel>

<div class="bcontainer">


<div [ngClass]="{'alert alert-success text-center sticky-top': message!==''}">{{message}}</div>

<div *ngFor="let level of categorie">
  
  <h5 class="titre">{{level[0].categorie}}</h5>
<div class="container" >

    <div class="card" style="width: auto" *ngFor="let produit of level; let i =index">
      <ng-container >
        <img src="{{produit.photo}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{produit.name}}</h5>
          <p class="card-text">{{produit.description}}</p>
          <p class="card-text-prix">{{produit.prix}} DH</p>
          <a class="btn btn-outline-primary btn-lg me-2" (click)="display(produit)">Voir</a>
         <!-- <button class="{{ (!produit.selected)? 'btn btn-warning': 'clicked'}}" (click)="selected(produit)">Ajout panier</button>-->
        </div>
      </ng-container>
    </div>
    </div>
</div>


</div>