h5{
    margin:20px;
}

.divform{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:50%;
    margin:0 auto;
    padding: 10px;


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.file-input {
  display: none;
}