.containers {
  max-width: 95%;
  margin: 0 auto;
  background-color: #fff;
  padding: 5px;

  img {
    height: 140px;
    width: 210px;
  }

  .row {
    margin: 5px;

    .card-text {
      font-size: medium;
    }
    .panier {
      display: flex;
      background-color: rgba(208, 232, 248, 0.226);
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 10px;
    }
    .messagePromo {
      text-align: center;
      color: gray;
    }
  }
}
.row {
  border-radius: 5%;
}
