<button class="btn btn-outline-primary mx-5 mb-2 mt-3" (click)="onBack()">Ajouter Produit</button>

<div class="containers mb-5">

  <div class="row">
    <!-- <span *ngIf="message !=''" class="alert alert-warning text-center"><h3>{{message}}</h3></span>-->
    <div class="alert alert-primary">
      <h3>Panier ({{nbr_article}}) {{message}}</h3>
    </div>
    <div class="col-md-9">

      <div class="card text-bg m-1" *ngFor="let produit of panier; let i =index">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{produit.photo}}" class="img-fluid rounded-start" alt="...">
            <div *ngIf="produit.discount != 0" class="promotion">-{{produit.discount}}%</div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">{{produit.name | titlecase}} </h5>
              <p class="card-text"><small class="text-muted">{{produit.description}}</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
             
              <label class="alert alert-light card-text text-muted float-start mx-3" *ngIf="produit.discount">
               <label style="text-decoration: line-through;color:brown">{{produit.prix}} </label> 
                {{produit.prix-produit.prix*produit.discount/100}} * {{produit.nbr}} Dhs</label>
             
                <label class="alert alert-light card-text text-muted float-start mx-3" *ngIf="!produit.discount">
                 {{produit.prix}} * {{produit.nbr}} Dhs</label>
                <button mat-mini-fab class="float-end" aria-label="send" (click)="supprimer(produit)"><mat-icon>delete</mat-icon></button>

            </div>
          </div>

        </div>

      </div>
    </div>
    <!--Panier-->
    <div class="col-md-3 panier" *ngIf="message != 'vide'">

      <div>
        <h5 class="alert-heading">RESUME PANIER (DHS)</h5>
        <hr>

        <div class="row alert-primary card-text">
          <p class="col-md-7 mt-3">Sous-total </p>
          <p class="col-md-5 mt-3">{{sommeGeneral }} </p>
        </div>
        <div class="row alert-primary card-text">
          <p class="col-md-7 mt-3">Frais de livraison </p>
          <p class="col-md-5 mt-3">{{shipping}}</p>
        </div>
        <div class="row alert-primary pt-3">
          <p class="col-md-12"><input type="text" class="form-control" (click)="RecupAllergene($event)"
              placeholder="Allèrgene"></p>
          <p class=" col-md-12 messagePromo"><input type="text" class="form-control"
              (mousemove)="RecupPromoCode($event)" placeholder="Code promo">{{messagePromo}}</p>
        </div>

        <div class="row alert-primary card-text">
          <p class="col-md-7 mt-3">Total(incl. TVA) </p>
          <p class="col-md-5 mt-3">{{sommeGeneral+shipping}} </p>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-lg mt-3 w-100" (click)="commander()" data-toggle="modal"
        data-target="mymodal">
        Commander
      </button>
    </div>
  </div>









  <!--Modal-->





</div>