<app-carousel></app-carousel>

<div class="produit_container">
  <div *ngFor="let level of categorie; let i = index">
    
    <h3 class="m-2 text-muted text-center">{{level[0]?.categorie}}</h3>
  
  <div class="container">
      <div class="card" *ngFor="let produit of level; let i =index">
       
          <img src="{{produit?.photo}}" class="card-img-top" alt="photo {{produit.name}}">
          <div *ngIf="produit.discount != 0" class="promotion">PROMOTION</div>
          <div class="card-body">
            <h5 class="card-title">{{produit.name | titlecase}}</h5>
            <p class="card-text ">{{produit.description}}</p>
         <div class="row">
          <div class="col-md-6"><p [ngClass]="{'card-text-prix promo': produit.discount > 0}">{{produit.prix}} DH</p></div>
          <div class="col-md-6"> <p *ngIf="produit.discount > 0">{{getDiscount(produit)}} DH</p></div>
         </div>  
          
           
            <a class="btn btn-outline-primary btn-lg me-2" (click)="AjouterPanier(produit)">Voir</a>
          </div>
        
      </div>
    </div>
  </div>
  
  
  </div>
