<app-carousel></app-carousel>

<div class="produit_container mb-5" *ngIf="categorie.length != 0">



  <div class="containers" >
    <h4 *ngIf="promotion.length > 2">Promotion</h4>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let produit of promotion; let i =index">
        <ng-template carouselSlide [id]="produit._id">
          
          <div class="card me-2" *ngIf="promotion.length > 2">
            <img src="{{produit?.photo}}" class="card-img-top" alt="photo {{produit.name}}">
            <div *ngIf="produit.discount != 0" class="promotion">-{{produit.discount}}%</div>
            <div class="card-body">
              <h5 class="card-title">{{produit.name | titlecase}}</h5>
              <p class="card-text description">{{produit.description}}</p>
              <div class="price">
                <div>
                  <p [ngClass]="{'card-text-prix promo': produit.discount > 0}">{{produit.prix}} DH</p>
                </div>
                <div>
                  <p *ngIf="produit.discount > 0">{{getDiscount(produit)}} DH</p>
                </div>
              </div>
              <a class="btn btn-outline-secondary btnvoir btn-md w-100" (click)="AfficherDetailsProduit(produit)">Voir</a>
            </div>    
          </div>
        </ng-template>
      </ng-container>
  
    </owl-carousel-o>
  </div>


  <div *ngFor="let produitpercategorie of categorie; let i = index">

    <fieldset *ngIf="produitpercategorie.length > 2">
      <legend *ngIf="produitpercategorie[0]?.categorie">{{produitpercategorie[0]?.categorie}}</legend>

      <div>
    
      <owl-carousel-o [options]="produitOptions">
        <ng-container *ngFor="let produit of produitpercategorie; let i =index">
          <ng-template carouselSlide [id]="produit._id">
            
            <div class="card me-2" >
              <img src="{{produit?.photo}}" class="card-img-top" alt="photo {{produit.name}}">
              <div *ngIf="produit.discount != 0" class="promotion">-{{produit.discount}}%</div>
              <div class="card-body">
                <h5 class="card-title">{{produit.name | titlecase}}</h5>
                <p class="card-text description">{{produit.description}}</p>
                <div class="price">
                  <div>
                    <p [ngClass]="{'card-text-prix promo': produit.discount > 0}">{{produit.prix}} DH</p>
                  </div>
                  <div>
                    <p *ngIf="produit.discount > 0">{{getDiscount(produit)}} DH</p>
                  </div>
                </div>
                <a class="btn btn-outline-secondary btnvoir btn-md w-100" (click)="AfficherDetailsProduit(produit)">Voir</a>
              </div>    
            </div>
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>
    </div>
    </fieldset>

  </div>
  <div>
   <h4>Tous les Produits</h4>
  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of listProduit">
      <ng-template carouselSlide [id]="slide._id">
        <img class="carouselimg" [src]="slide.photo" [alt]="slide.name" [title]="slide.name" (click)="AfficherDetailsProduit(slide)">
        <div *ngIf="slide.discount != 0" class="promotion">-{{slide.discount}}%</div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</div>
</div>