

.container-carousel{
    
    //background-color: #fff;
    display:grid;
    margin: 15px auto auto auto;
    grid-template-columns: 290px 700px 290px;
    justify-content: center;
    align-content: center;  
    align-items: center;  
    //gap:5px;
    width: 90%;
   

}

.carousel{
  
    margin: 20px;
    width:auto;
    height:auto;

    img{
        width: auto;
        height: 380px;
    }
    
}
.div1, .div2{

    //background-color: aliceblue;
    //font-size: 14px;
    width:auto;
    height:410px;
   
    a{
        color:rgba(78, 78, 78, 0.9);
        
    }


}

