.container-carousel{
  background-color: #fff;
  display: grid;
  align-items:center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(100px,auto);
  

  .sliderimg{
  width: auto;
  height:380px;
  padding: 10px;
  }
 /* @media screen and (max-width:500px){
    .sliderimg{

    height: auto;  
    width: 1rem;
    }
  }*/
  .div1{
   
   background-color: #fff;  
   padding-top: 10px;
   padding-left: 20px;
   font-size: small;
  }
  .div2{
   
    background-color: #fff;  
    padding-top: 10px;
    padding-right: 15px;
    font-size: small;
   }
  
}