@media (min-width:900px){
.container_carousel{
  background-color: #fff;
  display: grid;
  align-items:center;
  grid-template-columns: 1fr 2fr auto;

  .sliderimg{
  max-width: 650px;
  height:400px;
  padding-top: 20px;
  padding-bottom: 20px;
  }
  
  .div1{
   padding: 20px;
   font-size: small;
   height:400px;
  }
  .div2{
   
    padding: 20px;
    font-size: small;
    height:400px;
   }
  
}
}