<h3>Panier Produit </h3> 
<div class="container">
    
    <div class="card mb-3" *ngFor="let produit of panier; let i =index">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{produit.photo}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
            <button class="btn btn-outline-danger me-5 float-end" (click)="supprimer(i)">Supprimer</button>
             
              <h5 class="card-title">{{produit.name | titlecase}} </h5>
              <p class="card-text">{{produit.prix}} DH</p>
              <p class="card-text"><small class="text-muted">{{produit.description}}</small></p>
               </div>
          </div>
         
        </div>
       
      </div>
      <div [ngClass]="{'result':somme!= 0}" *ngIf="somme!= 0">
        <tr><td style="width:85%">Total des achats</td><td>{{somme}} DH</td></tr> 
        <!-- Button to Open the Modal -->
        <div class="container2 mt-4 mb-5">     
          <button type="button" class="btn btn-primary float-end" data-toggle="modal" data-target="#myModal">
            Suivant
          </button></div>
      </div>
      

   





      

      <!--Modal-->



     
  

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Infos Client</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="floatingtel" placeholder="Téléphone">
            <label for="floatingtel">Téléphone</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingAdresse" placeholder="Adresse">
            <label for="floatingAdresse">Adresse</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingrefAdresse" placeholder="Réference Adresse">
            <label for="floatingrefAdresse">Réference Adresse</label>
          </div>




        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-succes me-5" data-dismiss="modal">Enregistrer</button><button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
