.global-container{
    display: grid;
    //gap: 20px;
    height: auto;
    width: 95%;
    margin: 0px auto;
    padding: 10px;
   // background-color: #fff;
    
  
  // each box is 200px by 200px
  grid-template-rows: auto auto 100px;
   
  
  //  Change values 👇  to experiment
    justify-items : center;
    align-items:start;

}