
<div class="mat-elevation-z8">
 <div [ngClass]="{'alert alert-info':message}">{{message}}</div>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
 
    <!--Id Column 
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row._id}}</td>
    </ng-container>--> 

     <!-- Photo Column -->
     <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef >Photo</th>
      <td mat-cell *matCellDef="let row"><img src='assets/img/upload/{{row.photo}}' alt="{{row.name}}"></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row"><input matInput value="{{row.name}}"></td>
    </ng-container>

     <!-- Prix Column -->
     <ng-container matColumnDef="prix">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix</th>
      <td mat-cell *matCellDef="let row">
        <input matInput name="prix" (change)="onChange($event,row)" value="{{row.prix}}">
    
      </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef >Description</th>
      <td mat-cell *matCellDef="let row"><textarea cols="35" rows="5" matInput>{{row.description}}</textarea></td>
    </ng-container>

    <!-- allergene Column -->
    <ng-container matColumnDef="allergene">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Allergene</th>
      <td mat-cell *matCellDef="let row"><input matInput name="allergene"  value="{{row.allergene}}"></td>
    </ng-container>

    <!-- favori Column -->
    <ng-container matColumnDef="favori">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Favori</th>
      <td mat-cell *matCellDef="let row"><input matInput value="{{row.favori}}"></td>
    </ng-container>

    <!-- categorie Column -->
    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categorie</th>
      <td mat-cell *matCellDef="let row"><input matInput value="{{row.categorie}}"></td>
    </ng-container>

     <!-- discount Column -->
     <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount</th>
      <td mat-cell *matCellDef="let row"><input matInput value="{{row.discount}}"></td>
    </ng-container>

     <!-- operation Column -->
     <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Opération</th>
      <td mat-cell *matCellDef="let row">
       <div class="operation">
        <button mat-mini-fab color="primary" (click)="update(row)">
        <mat-icon>update</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="delete(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </div> 
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
  
</div>
