<div class="class" *ngIf="isConnected">
  <div class="modal-header">
    <h4 class="modal-title">S'enregistrer</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>

  <form>
    <div class="modal-body">
      <ng-container >
        <div class="input-group">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" value="{{client.email}}"
              placeholder="name@example.com">
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="floatingtel" value="{{client.tel}}" placeholder="Téléphone">
            <label for="floatingtel">Téléphone</label>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingAdresse" value="{{client.adresse}}" placeholder="Adresse">
          <label for="floatingAdresse">Adresse</label>
        </div>


        <div class="input-group">
          <div class="form-floating mb-3 w-50">
            <input type="text" class="form-control" id="floatingville" value="{{client.ville}}" placeholder="ville">
            <label for="floatingville">Ville</label>
          </div>
          <div class="form-floating mb-3 w-50">
            <input type="text" class="form-control" id="floatingcodepostal" value="{{client.codepostal}}"
              placeholder="code postal">
            <label for="floatingcodepostal">Code Postal</label>
          </div>
          <div class="full" id="map"></div>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingrefAdresse" value="{{client.reference}}"
            placeholder="Réference Adresse">
          <label for="floatingrefAdresse">Réference Adresse</label>
        </div>
      </ng-container>
      <div class="modal-footer">
        <button type="button" class="btn btn-succes me-5" (click)="enregistrer()"
          data-dismiss="modal">Enregistrer</button><button type="button" class="btn btn-danger" (click)="close()"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </form>
</div>


<div class="modal-body" *ngIf="!isConnected">
  <app-login></app-login>
</div>