
<h5>Modifier Produit</h5>





<div class="example-input-wrapper">
 <!-- <input id="duration" value="2000" type="number" min="0" step="100" #duration>-->
</div>

<mat-vertical-stepper [linear]="false" #stepper [animationDuration]="duration">
  <mat-step [stepControl]="selectForm">
    <form [formGroup]="selectForm" >
    <!--<form [formGroup]="firstFormGroup">-->
      <ng-template matStepLabel>Modifier le produit </ng-template>
      


     

        <div class="divform" >
            <mat-form-field class="full-width"  appearance="fill" >
                <mat-label>Choisir Produit</mat-label>
                <mat-select formControlName="name" >
                  <mat-option value="{{produit.name}}" (click)="AfficheProduit(produit)" *ngFor="let produit of listProduit" >{{produit.name}}</mat-option>
               </mat-select>
              </mat-form-field>
              <div [ngClass]="{'alert alert-info' : message}">{{message}}</div>
            </div>      
    </form>



    <div class="divform">

   
      <ng-container *ngIf="state">

        <div *ngFor="let produit of selectedProduit">

         
  <h4 class="m-5">Modification du produit {{produit.name}} </h4>
            
          <mat-form-field class="example-full-width"  appearance="fill">
            <mat-label>Nom</mat-label>
            <p><input matInput  [(ngModel)]="name" ></p>
          </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Favori ?</mat-label>
        <mat-select  [(value)]="produit.favori">
        <mat-option value="oui">Oui</mat-option>
        <mat-option value="non">non</mat-option>
        </mat-select>
      </mat-form-field>
           
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Prix</mat-label>
        <p><input matInput  [(ngModel)]="prix" type="number"></p>
      </mat-form-field>

      <mat-form-field class="example-full-width"  appearance="fill" >
        <mat-label >Catégorie ?</mat-label>
        <mat-select  [(value)]="produit.categorie"  >            
        <mat-option value="{{categorie.name}}" *ngFor="let categorie of categories" >{{categorie.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Discount</mat-label>
        <p>  <input matInput [(ngModel)]="discount" name="discount" type="number"></p>
        </mat-form-field>
      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput rows="3" [(ngModel)]="description"></textarea>
      </mat-form-field>
      <button mat-raised-button color="warn" (click)="modifProduit()" >Modifier</button>
     
 
</div>
      </ng-container>
</div>








    <div>

        <button mat-raised-button color="warn" matStepperNext>Autre modification</button>
      </div>  
   <!--</form>-->
  </mat-step>
  <mat-step [stepControl]="selectForm">
    
      <ng-template matStepLabel>Modifier les allergènes du produit</ng-template>
      
      <form [formGroup]="selectForm" >

        <div class="divform" >
            <mat-form-field class="full-width"  appearance="fill" >
                <mat-label>Choisir Produit</mat-label>
                <mat-select formControlName="name" >
                  <mat-option value="{{produit.name}}" (click)="AfficheProduitallergene(produit)" *ngFor="let produit of listProduit" >{{produit.name}}</mat-option>
               </mat-select>
              </mat-form-field>
              <div [ngClass]="{'alert alert-info' : messageallergene}">{{messageallergene}}</div>
        </div>      
    </form>

<ng-container *ngIf="stateAllergene">

<!--checkbox-->
<div class="example-section" >
 
  <h4 class="m-5"> Liste d'allergènes {{produit.name}} :</h4>
  
  <div class="divform">
  <section class="example-section">
    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    [checked]="allComplete"
                    [color]="task.color"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
        {{task.name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let subtask of task.subtasks">
          <mat-checkbox [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
          </mat-checkbox>
        </li>
      </ul>
    </span> <button mat-raised-button color="warn" (click)="ModifierAllergene()">ModifierAllergène</button>

  </section>
 </div>
</div>
</ng-container>





      <div>
        <button mat-raised-button matStepperPrevious>Retour</button>
        <button mat-raised-button color="warn" matStepperNext>Autre modification</button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Modifier la photo du produit</ng-template>
    
    <form [formGroup]="selectForm" >

      <div class="divform" >
          <mat-form-field class="full-width"  appearance="fill" >
              <mat-label>Choisir Produit</mat-label>
              <mat-select formControlName="name" >
                <mat-option value="{{produit.name}}" (click)="AfficheProduitphoto(produit)" *ngFor="let produit of listProduit" >{{produit.name}}</mat-option>
             </mat-select>
            </mat-form-field>
            <div [ngClass]="{'alert alert-info' : messagephoto}">{{messagephoto}}</div>
      </div>      
  </form>

<ng-container *ngIf="statephoto">

<!--checkbox-->
<div class="example-section" >
  <h4 class="m-5">Modification Photo du produit {{produit.name}} </h4>
  
  <div class="divform">
  <!--Upload file-->
    <input type="file" class="file-input"
    (change)="onFileSelected($event)" #fileUpload>
  
  <div class="file-upload mx-5">
  
  {{fileName || "No file uploaded yet."}}
  
  <button mat-mini-fab color="primary" class="upload-btn"
   (click)="fileUpload.click()">
     <mat-icon>attach_file</mat-icon>
  </button>
  </div>
  <button mat-raised-button color="warn" (click)="modifierPhoto()">Modifier</button>
  </div>
  </div>
  
  </ng-container>





    <div>
      <button mat-raised-button matStepperPrevious>Retour</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>






















