

@media (min-width:900px) {

   .container_details{        
    background-color: #fff;
    padding: 20px;
    width: 95%;
    margin: auto;


    display: flex;
    label{
        font-size: 24px;
    }
   

   img{
    height: 250px;
   }
   
     }
    
}
/*
h5{
    margin: 15px;
}
.text{
    font-size: 24px;
    font-weight: bold;
}
.card{
    height: 40vh;
    

    img{
        width:36vh;
        height: 35vh;
        padding: 5px;
        border-radius: 5%;
    }
    .card-title{
        font-size: 24px;
        padding: 0;


    }
    .card-text{
        font-size: 20px;
        font-weight: bold;
    }
    .text-muted{
        font-size: medium;
    }
    .prix{
        font-size: 30px;
        font-weight: bold;
    }
    
}
*/