

<button class="btn btn-outline-primary mx-5 mb-2 mt-3" (click)="onBack()">Ajouter Produit</button>


<!--<div [ngClass]="{'alert alert-success text-center sticky-bottom': message}">{{message}}</div>-->
<div class="container_details ">

  <div class="row">
  
   <div class="col-md-8">
    <h3 class="alert alert-primary">Détails Produit </h3>
 
     <div class="card alert-light text-bg p-2" *ngFor="let produit of singleProduit; let i =index">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{produit.photo}}" class="img-fluid rounded-start" alt="...">            
            <div *ngIf="produit.discount != 0" class="promotion">-{{produit.discount}}%</div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
             
              <h5 class="card-title">{{produit.name | titlecase}} - {{produit.description}} </h5>
              <p class="card-text"><small class="text-muted">Allergène :{{produit.allergene}}</small></p>
              
              <p class="card-text mx-2" *ngIf="produit.discount != 0">
                <button class="btn btn-outline-info me-2" (click)="Dcounter()">-</button>{{count}}<button class="btn btn-outline-info mx-2" (click)="counter()">+</button>
                <label class="alert alert-light mx-3">Prix :<label style="text-decoration: line-through;color:brown">{{produit.prix*count}}</label> {{produit.prix*count-produit.prix*count*discount/100}} Dhs</label>
              </p>
              <p class="card-text mx-2" *ngIf="!produit.discount">
                <button class="btn btn-outline-info me-2" (click)="Dcounter()">-</button>{{count}}<button class="btn btn-outline-info mx-2" (click)="counter()">+</button>
                <label class="alert alert-light mx-3">Prix : {{produit.prix*count}} Dhs</label></p>
                            
              <button class="btn btn-primary btn-lg w-100" (click)="AjoutPanier(produit)">Ajouter au panier</button>
           
              
               </div>
          </div>
                  
        </div>
       
      </div>
    </div>
    <div class="col-md-4 p-4">

        <h4 class="alert-heading">LIVRAISON</h4>
        <hr>
        
       <p class="alert alert-warning mt-2">Frais de livraison non inclus à ce stade. Livraison <b>immédiate</b>.<br>Dépendant de votre localisation.</p>
       <p class="alert alert-primary">
        Taux d'expédition des commandes: Excellent.<br>
        Score Qualité: Excellent.<br>        
        Avis des consommateurs: Excellent</p>
        <p class="alert alert-danger">Merci de noter que <b>les frais de livraison</b> sont à la charge du client.</p>
          <!--  <button type="button" class="btn btn-warning btn-lg m-auto w-auto float-end" routerLink="/panier">
           Voir Panier
        </button>-->
      </div>
     
    </div>
