
:host {
  display:block;
  background: #fff;
  position: absolute;
  top:10px;
  border-radius: 8px;
  padding: 2rem;
  animation: custom-dialog-enter 1s ease;
  font-size: small;
  height: 38rem;
  overflow: scroll;
  }
  
  @keyframes custom-dialog-enter {
    from {
      transform: scale(0) rotate(180deg);
    }
  
    to {
      transform: none;
    }
  }

img{
  width: 150px;
  height: 150px;
}
.box{
  border: 1px solid rgba(128, 128, 128, 0.171);
  padding: 10px;
  //box-shadow: 5px 10px #888888b9;
}