
h5{
    margin: 15px;
}
.container-detail{

    display: grid;
    justify-content: center;
    font-size: 16px;
    background-color: rgba(255, 166, 0, 0.1);

    img{
        width: 54vh;
        height: 45vh;
        border-radius: 10%;
        padding: 10px;
        
    }
    .card-title{
        font-size:xx-large;

    }
   

}