
h3{
    margin: 20px;
}
.container{

    margin: 10px;
    max-width: 150vh;
    font-size: 20px;

    img{
        width: 120vh;
        height: 50vh;
        border-radius: 15%;
        padding: 15px;
        
    }
    .card-title{
        font-size:xx-large;

    }
    button{
       margin-bottom:30px;
    }

}