<h5>Import/Export Produit</h5>

<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Import Produit
        </mat-panel-title>
        <mat-panel-description>
          Fichier importation Excel
          <mat-icon>cloud_upload</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>




    <div class="divform">
      <div *ngIf="!uploadImgCompleted">
        <h3>Merci d'importer les images produit correspondant !</h3>

      <input type="file"  (change)="importMultipleimg($event)"  accept='image/*' multiple>
     

      </div>
      <div *ngIf="uploadImgCompleted">
        
        <div [ngClass]="{'alert alert-info m-2 text-center': message}">{{message}}</div>

        <h3>Merci d'importer le fichier csv correspondant !</h3>

        <input type="file" (change)="onFileSelected($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />


<button mat-raised-button color="primary" class="m-5" (click)="importCsv()">Importer Fichier Excel</button>
</div>
</div>


       
     
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Exporter table Produit
        </mat-panel-title>
        <mat-panel-description>
          Exporter en csv
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  



<app-export></app-export>



  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recherche Produit
        </mat-panel-title>
        <mat-panel-description>
          Filtre date
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>




  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>
  
