

    img{
       
        height: 270px;
    }


.produit_annexe{

    background-color: #fff;
    padding: 5px;
    width: 95%;
    margin: auto;

    .card-text{
        height: 80px;
    }
}

.promotion{
    width:130px;
    height: 35px;
    background-color: red;
    color:#fff;
    font-size: larger;
   // transform: rotate(-45deg);
    position:absolute;
    padding: 6px;
   // margin: 40px;
    left: 0px;
    top:0px;
    
  }