
<ul class="nav navbar-dark justify-content-center bg-dark">
    
    <li class="nav-item">
      <a class="nav-link" (click)="goTo('/produit')" >Produit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goTo('/contact')">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goTo('/op_produit')">Admin</a>
    </li>
  </ul>


  
<nav class="navbar navbar-expand-sm bg-light justify-content-center ">
  <a class="navbar-brand mx-3" routerLink="/produit">Ecommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse me-3 mx-3" id="collapsibleNavbar">
    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
      
        <input class="form-control me-2" type="search" maxlength="10" minlength="5" required placeholder="Search"  aria-label="Search" #search>
       <!-- <button class="btn btn-outline-success btn-md me-2" (click)="Search(search.value)" type="submit">Search</button>-->
        <button class="btn btn-primary" (click)="openModal(search.value)">Recherche</button>
    </ul>
  
    <button *ngIf="islogged" class="btn btn-outline-danger me-2 " (click)="logout()" type="submit">Logout</button>
    <button *ngIf="!islogged" class="btn btn-outline-primary me-2 " (click)="openModallogin()" type="submit">LogIn</button>
    
    <button class="btn btn-warning " routerLink="panier" type="submit"><span><i class="fas fa-shopping-cart"></i></span>Panier</button>
  
  </div>  
</nav>


